<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.hari.app">

<uses-permission android:name="android.permission.INTERNET"/>

<application
android:allowBackup="true"
android:label="Hari"
android:theme="@style/AppTheme">

<activity android:name=".SplashActivity">

<intent-filter>
<action android:name="android.intent.action.MAIN"/>
<category android:name="android.intent.category.LAUNCHER"/>
</intent-filter>

</activity>

<activity android:name=".MainActivity"/>

</application>

</manifest>
